body {
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
 
.fadeIn {
        -webkit-animation: fadeIn 0.5s ease-in-out;
        -moz-animation: fadeIn 0.5s ease-in-out;
        -o-animation: fadeIn 0.5s ease-in-out;
        animation: fadeIn 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #DC41CC;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 6px black;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container img {
    width: 60px;
}

.container h1 {
    font-weight: normal;
}

.title_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

li:hover {
    text-decoration: underline;
}

.agora {
    font-weight: bold;
}

.titulo {
    display: flex;
    justify-content: center;
}

.container1 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 40px;
}

.container1 h1 {
    font-weight: normal;
    color: #DC41CC;
}

.select_pais {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
}

.pais {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px black;
      
}

.pais img {
    width: 150px;
    height: 100px;
    border: solid 7px #DC41CC;
    border-radius: 10px;
    margin-left: 15%;
}

.pais a {
    color: #DC41CC;
    font-size: 40px;
    margin-left: 30px;
}

.pais a:hover {
    text-decoration: underline;
}

.pais:hover {
    transform: translateY(0px);
    animation: float 0.5s ease-in-out both;
    filter: drop-shadow(5px 5px 5px #222);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.footer {
    background-color: #DC41CC;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 60px;
}

.container_footer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}