body {
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
 
.fadeIn {
        -webkit-animation: fadeIn 0.5s ease-in-out;
        -moz-animation: fadeIn 0.5s ease-in-out;
        -o-animation: fadeIn 0.5s ease-in-out;
        animation: fadeIn 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #DC41CC;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 6px black;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container img {
    width: 60px;
}

.container h1 {
    font-weight: normal;
}

.title_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

li:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: normal;
}

.sobre h2 {
    color: #DC41CC;
}

.apresentacao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container1 {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    height: 60px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: #DC41CC;
    font-size: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #b434a8;
    cursor: pointer;
}

.agora {
    font-weight: bold;
}

.sobre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
}

.folha {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
}

.conteudo {
    display: flex;
    justify-content: space-around;
}

.conteudo p {
    color: #3C3C3C;
    font-size: 20px;
    text-align: justify;
}

.paragrafo {
    width: 40%;
}

.conteudo .img1 img{
    width: 400px;
    border: solid 10px #DC41CC;
    border-radius: 10px;
}

.conteudo .img2 img{
    width: 200px;
    border: solid 10px #DC41CC;
    border-radius: 10px;
}

.footer {
    background-color: #DC41CC;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 60px;
}

.container_footer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descobrir_pais {
    display: flex;
    justify-content: center;
}

.container5 {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black
}

.folha_descobrir_pais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folha_descobrir_pais h2, h3 {
    font-weight: normal;
    color: #DC41CC;
}

.folha_descobrir_pais button {
    color: white;
}

.folha_descobrir_pais p {
    color: black;
    font-size: 40px;
}



