body {
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
 
.fadeIn {
        -webkit-animation: fadeIn 0.5s ease-in-out;
        -moz-animation: fadeIn 0.5s ease-in-out;
        -o-animation: fadeIn 0.5s ease-in-out;
        animation: fadeIn 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #DC41CC;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 6px black;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container img {
    width: 60px;
}

.container h1 {
    font-weight: normal;
    color: white;
}

.title_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

li:hover {
    text-decoration: underline;
}

.agora {
    font-weight: bold;
}

.folha_pais {
    display: flex;
    justify-content: center;
}

.container1 {
    width: 80%;
    background-color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.folha {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.folha .pt1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.folha .pt1 img {
    width: 400px;
    margin-top: 20px;
    border: solid 7px #DC41CC;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #DC41CC;
    font-weight: normal;
}

p {
    color: black;
}

.folha .pt2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.comida {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.comida img {
    width: 300px;
    border: solid 7px #DC41CC;
    border-radius: 10px;
    margin-top: 60px;
}

.txt {
    width: 60%;
}

.eu {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.container2 {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.container2 .folha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ferramentas {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.calculadora {
    width: 45%;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.mapa {
    width: 45%;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe {
    border: solid 7px #DC41CC;
    border-radius: 10px;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcoes {
    display: flex;
    flex-direction: column;
}

.botao_opcoes {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.opcoes input {
    border: none;
    border-bottom: solid 3px #DC41CC;
    border-radius: 10px;
}

.opcoes input:focus {
    outline: 0;
}

.opcoes select {
    border: none;
    border-bottom: solid 3px #DC41CC;
    margin-top: 10px;
    border-radius: 10px;
}

.opcoes select:focus {
    outline: 0;
}

option {
    text-align: center;
}

.botao_opcoes button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #DC41CC;
    color: white;
}

.botao_opcoes button:hover {
    background-color: #b434a8;
    cursor: pointer;
}

.like {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container4 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn button {
    width: 120px;
    height:120px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
}

.btn button:hover {
    cursor: pointer;
}

.btn button img {
    width: 120px;
    height:120px;
    transition: 0.5s;
}

.btn button img:hover {
    transform: translateY(-10px);
}

.footer {
    background-color: #DC41CC;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 60px;
}

.container_footer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_footer p {
    color: white;
}